.project-container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 20px;
  }
  
  .project {
    text-decoration: none;
    color: inherit;
    background-color: #1e1e1e;
    padding: 20px;
    border-radius: 10px;
    width: 300px;
    transition: transform 0.3s ease-in-out;
    display: block;
  }
  
  
  .project:hover {
    transform: scale(1.05);
  }
  
  .project img {
    width: 100%;
    border-radius: 5px;
  }
  